.main-preguntas-frecuentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}
.faq-container{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-item{
    background-color: var(--colorFormContainer);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0, 0,0.3);
}
.faq-item h2{
    font-size: 1.2em;
    color: var(--colorBotones);
    margin-bottom: 10px;

}
.faq-item p{
    color: var(--colorFormBody);
}